.biography {
  @include grid-column(12);
  background-color: $papaya;

  h3 {
    @extend .section-headers;
    color: $papaya;
  }

  .about {
    height: 70vh;

    .portrait {
      @include grid-column(5);
      background-image: url('../img/portrait.jpeg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 30vh;
      margin-left: 20px;
      margin-bottom: 20px;
      border-radius: 100%;
      border: 6px solid white;
      @include border-color(null null $aqua $aqua);

      @include tablet-breakpoint {
        height: 70vh;

      }
    }

    p {
      @include grid-column(5);
      margin-left: 30px;
      @extend .p-styling;
      font-size: 25px;
    }
  }


}
