.films {
  @include grid-column(12);
  background-color: $mustard;

  h3 {
    @extend .section-headers;
    color: $mustard;
    margin-bottom: 0px;
  }

  .howl {
    height: 50vh;
    @include tablet-breakpoint {
      @include grid-column(6);
    }

    #howl-sec {
      background-image: url('../img/howl.gif');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 30vh;
      text-align: center;

      h4{
        @extend .film-titles;
        margin-top: 0;
        padding-top: 15vh;
      }

    }

    p {
      @extend .p-styling;
      font-size: 30px;

      @include tablet-breakpoint {
        font-size: 15px;
      }
    }



  }

  .spirit {
    height: 50vh;
    @include tablet-breakpoint {
      @include grid-column(6);
    }

    #spirit-sec {
      background-image: url('../img/spirit.gif');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 30vh;
      text-align: center;

      h4{
        @extend .film-titles;
        margin-top: 0;
        padding-top: 15vh;
      }

    }

    p {
      @extend .p-styling;
      font-size: 30px;

      @include tablet-breakpoint {
        font-size: 15px;
      }
    }

  }

  .kiki {
    height: 50vh;
    @include tablet-breakpoint {
      @include grid-column(6);
    }

    #kiki-sec {
      background-image: url('../img/kiki.gif');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 30vh;
      text-align: center;

      h4{
        @extend .film-titles;
        margin-top: 0;
        padding-top: 15vh;
      }

    }

    p {
      @extend .p-styling;
      font-size: 30px;

      @include tablet-breakpoint {
        font-size: 15px;
      }
    }


  }

  .totoro {
    height: 50vh;
    @include tablet-breakpoint {
      @include grid-column(6);
    }


    #totoro-sec {
      background-image: url('../img/totoro.gif');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 30vh;
      text-align: center;

      h4{
        @extend .film-titles;
        margin-top: 0;
        padding-top: 15vh;
      }
    }

    p {
      @extend .p-styling;
      font-size: 30px;

      @include tablet-breakpoint {
        font-size: 15px;
      }
    }


  }
}
