.films {
  @include grid-column(12);
  background-color: $mustard;

  h3 {
    @extend .section-headers;
  }

  .howl {
    height: 60vh;

    #howl-sec {
      background-image: url('../img/howl.gif');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 40vh;
      text-align: center;

      h3{
        @extend .section-headers;
        margin-top: 0;
        padding-top: 15vh;
      }

    }

    p {
      @extend .p-styling;
    }



  }

  .spirit {
    height: 60vh;

    #spirit-sec {
      background-image: url('../img/spirit.gif');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 40vh;
      text-align: center;

      h3{
        @extend .section-headers;
        margin-top: 0;
        padding-top: 15vh;
      }

    }

    p {
      @extend .p-styling;
    }

  }

  .kiki {
    height: 60vh;

    #kiki-sec {
      background-image: url('../img/kiki.gif');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 40vh;
      text-align: center;

      h3{
        @extend .section-headers;
        margin-top: 0;
        padding-top: 15vh;
      }

    }

    p {
      @extend .p-styling;
    }


  }

  .totoro {
    height: 60vh;


    #totoro-sec {
      background-image: url('../img/totoro.gif');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 40vh;
      text-align: center;

      h3{
        @extend .section-headers;
        margin-top: 0;
        padding-top: 15vh;
      }
    }

    p {
      @extend .p-styling;
    }


  }
}
