.merch {
  @include grid-column(12);
  background-color: $blush;
  overflow: auto;
  overflow-y: hidden;

  h3 {
    @extend .section-headers;
    color: $blush;
    margin-bottom: 0px;
  }

  .item1 {
    @include grid-column(12);
    overflow: auto;
    overflow-y: hidden;
    text-align: center;
    margin-bottom: 10px;
    @include tablet-breakpoint {
      @include grid-column(4);
    }

    h4 {
      @extend .item-headers;
    }

    #item1 {
      background-image: url('../img/shirt.jpg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      height: 15vh;


    }

    .item-description {
      p {
        @extend .p-styling;
        font-size: 12px;

      }
    }

    button {
      @extend .buttons;
    }

  }

  .item2 {
    @include grid-column(12);
    overflow: auto;
    overflow-y: hidden;
    text-align: center;
    margin-bottom: 10px;
    @include tablet-breakpoint {
      @include grid-column(4);
    }


    h4 {
      @extend .item-headers;
    }

    #item2 {
      background-image: url('../img/phone.jpg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      height: 15vh;

    }

    .item-description {
      p {
        @extend .p-styling;
        font-size: 12px;
      }
    }

    button {
      @extend .buttons;
    }
  }

  .item3 {
    @include grid-column(12);
    overflow: auto;
    overflow-y: hidden;
    text-align: center;
    margin-bottom: 10px;
    @include tablet-breakpoint {
      @include grid-column(4);
    }

    h4 {
      @extend .item-headers;
    }

    #item3 {
      background-image: url('../img/bag.jpg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      height: 15vh;

    }

    .item-description {
      p {
        @extend .p-styling;
        font-size: 12px;
      }
    }

    button {
      @extend .buttons;
    }
  }

}
