.merch {
  @include grid-column(12);
  background-color: $blush;

  h3 {
    @extend .section-headers;
  }

  .item1 {
    @include grid-column(4);

    height: 60vh;
  }

  .item2 {
    @include grid-column(4);

    height: 60vh;
  }

  .item3 {
    @include grid-column(4);

    height: 60vh;
  }

}
