html, body {
  font-family: 'Lato', sans-serif;
}

.section-headers {
  text-align: center;
  font-size: 40px;
  height: 40px;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  font-family: 'Courgette', cursive;
  text-shadow: 2px 2px 0px black;
}

.film-titles {
  text-align: center;
  font-size: 36px;
  color: white;
  font-family: 'Courgette', cursive;
  text-shadow: 2px 2px 0px black;
}

.p-styling {
  color: white;
  padding: 10px;
}

.item-headers {
  color: white;
  font-size: 25px;
  text-shadow: 1px 1px 0px black;
  font-family: 'Courgette', cursive;
}


#name {
  color: $aqua;
  font-family: 'Courgette', cursive;
}
