// SITE COLOR SCHEME

$aqua: #008F95;
$mustard: #E9B000;
$blush: #EB6E80;
$papaya: #E24E42;

// CUSTOM NEAT GRID

$neat-grid: (
  columns: 12,
  gutter: 0,
);


// MEDIA QUERIES

$tablet-breakpoint: "only screen and (min-width:768px)";

$laptop-breakpoint: "only screen and (min-width:1340px)";
